body{
    margin: 0px;
    width: 100%; 
    font-family: "Lato", sans-serif;
  
    } 
 .row1{
    background-image: url(https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307__340.jpg);
}     
.row1:after {
    content: "";
    display: table;
    clear: both;
  }
.cola{
    float: left;
}

@media(min-width: 992px) {
        
    .cola.one{
        width: 50%;
       
    }  
    .box1{
    
        /* background-image: url(https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307__340.jpg); */
        margin: 0px;
        padding: 0px;
        height: 900px;
    }
  }
  @media(min-width: 768px) and (max-width: 991px){
    .cola.one{
        width: 50%;
       
    }
    .box1{
    
        /* background-image: url(https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307__340.jpg); */
        margin: 0px;
        padding: 0px;
        height: 900px;
    }
    
  }
  @media(max-width:767px) {
    .cola.one{
        width: 0%;
       
    }
    .box1{
    
        /* background-image: url(https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307__340.jpg); */
        margin: 0px;
        height: 550px;
    }
    
  }
  @media(min-width: 992px) {
    .options {
        overflow: hidden;
        top: 0;
        width: 100%;
      }
      
      .options a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
      }
      
      .options a:hover {
        background: #ddd;
        color: #4CAF50;
      }
      .o4{
        margin-left: 10px;
        margin-right: 0px;
        padding: 0px;
      }
      
      #scamg{
        width: 40px;
      }
      .o1{
          margin-left: 280px;
      }
      .o2{
        margin-left: 10px;
      }
      .o3{
        margin-left: 10px;
      }
    #mySidenav{
      display: none;
    }
    #sp1{
      display: none;
    }
  }
  @media(min-width: 768px) and (max-width: 991px){
    
    
  }
  /* @media(max-width:767px) {
    
  } */





    @media(min-width: 992px) {
        .cola.two{
            width: 50%;
            padding: 0px;
            margin: 0px;
        }
        #img1{
            width: 750px;
            height: 750px;
            margin-left: 40px;
        }
      }
      @media(min-width: 768px) and (max-width: 991px){
        .cola.two{
            width: 50%;
            padding: 0px;
            margin: 0px;
        }
        #img1{
            width: 300px;
            height: 300px;
            margin-left: 40px;
        }
        
      }
      @media(max-width:767px) {
        .cola.two{
            width: 100%;
            padding: 0px;
            margin: 0px;
        }
        
        #img1{
            width: 0px;
            height: 0px;
            margin: 0px;
        }
        
      }


@media(min-width: 992px) {
    .box2{
   
        /* background-image: url(https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307__340.jpg); */
        margin: 0px;
        padding: 0px;
        height: 900px;
        text-align: center;
        color: green;
        
    }
    
    #logo{
        width: 300px;
        padding: 0px;
        margin-bottom: 0px;
    }
    #mainheading{
         font-size: 150px;
        margin: 0px;
        margin-top: 0px;
        /* padding-top:30%; */
        padding-bottom: 0px;
        background-image: url(https://media0.giphy.com/media/3o84U78CXEB2opZd4I/200w.webp?cid=ecf05e47b4f0xmqaz5yccoqm73aguw08rsu1yeybbnxj5j24&rid=200w.webp);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        
        line-height: .75;
    
    }
    #search{
       width: 80%; 
      font-size: 20px;
      padding-top: 0px;
      margin-top:45px;
      padding:20px;
      border: 1px solid #ddd;
      shape-outside: ellipse();
      border-radius:20px;
    } 
  }
  @media(min-width: 768px) and (max-width: 991px){
    
    
  }
  @media(max-width:767px) {
    .box2{
   
        /* background-image: url(https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307__340.jpg); */
        margin: 0px;
        padding: 0px;
        height: 600px;
        text-align: center;
       
        
    } 
     #opt{
       display: none;
     }
    
      .sidenav {
        height:100%;
        width:0;
        position:fixed; 
        z-index: 1;
        top: 0;
        left:0;
        /* background-color: #111; */
        background-color: rgb(3, 44, 54);
        overflow-x: hidden;
         transition: 0.5s; 
        padding-top: 60px;
        
      }
      
      .sidenav a {
        padding: 15px;
        padding-left: 25px;
        text-decoration: none;
        font-size: 25px;
        /* color: #f1f1f1; */
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #4CAF50;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: white;
      }
      .o1{
        background-color: white;
        border-radius:3px;
        margin: 10px;
        text-align: center;
      }
      .o2{
        background-color: white;
        border-radius:3px;
        margin: 10px;
        text-align: center;
      }
      .o3{
        background-color: white;
        border-radius:3px;
        margin: 10px;
        text-align: center;
      }
      .o4{
        background-color: white;
        border-radius:3px;
        margin: 10px;
        text-align: center;
      }
      #navimg{
        width:230px;
        margin: 10px;
        margin-top: 0px;
        border-radius:3px;
      }
       #main {
         transition: margin-left .5s;  
         /* padding: 16px;  */
      } 
      #scamg{
        width: 60px;
      }
    #logo{
        width: 300px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 40px;
    }
    #mainheading{
         font-size: 100px;
        margin: 0px;
        margin-top: 0px;
        /* padding-top:30%; */
        padding-bottom: 0px;
        background-image: url(https://media0.giphy.com/media/3o84U78CXEB2opZd4I/200w.webp?cid=ecf05e47b4f0xmqaz5yccoqm73aguw08rsu1yeybbnxj5j24&rid=200w.webp);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        
        line-height: .75;
    
    }
    #search{
       width: 80%; 
      font-size: 20px;
      padding-top: 0px;
      margin-top: 15px;
      padding:10px;
      border: 1px solid #ddd;
      shape-outside: ellipse();
    } 
    
  }

  @media(min-width: 992px) {
    .stepbox{
        background-image: url(https://media3.giphy.com/media/BHNfhgU63qrks/200.webp?cid=ecf05e47g2cws6kdfq45w25eq1q5zb5xg4d1uf03bvjm0727&rid=200.webp);
        
    }
    .stepsa:after {
        content: "";
        display: table;
        clear: both;
      } 
 .stepsa{
         position: relative;
        animation: example 3s infinite;
        
    }
    @keyframes example {
        0% { left:0px; top:0px;}
        50% { left:20px; top:0px;}
        
      } 
      
    .b1{
        float: left;
    }
    .scan{
        padding: 30px;
        width: 300px;
    }
    .step1{
        font-size: 90px;
        margin-left: 20px;
        margin-top: 200px;
        color: aquamarine;
    }
    .stepsb:after {
        content: "";
        display: table;
        clear: both;
      } 
     .stepsb{
         position: relative; 
        animation: ani 3s infinite;
    }
    @keyframes ani {
        0% { left:0px; top:0px;}
        50% { left:20px; top:0px;}
        
      } 
      
    .b3{
        float: left;
    }
    .scan2{
        padding: 30px;
        width: 300px;
    }
    
    .step2{
        padding-left: 700px;
        font-size: 100px;
        color: aquamarine;
    }
    .info:after {
      content: "";
      display: table;
      clear: both;
    } 
    .info{
      /* height:260px; */
      background-color:rgb(44, 3, 3);
      }
     
 .info1{float:left;}
 .inftxt1{
  width: 20%;
  text-align: center;
  
}
    .inftxt2{
      width: 60%;
      color: white;
      font-size: 60px;
      text-align: center;
     }
  #infimg{
    width:250px;
    margin-left:20px;
    margin-top: 10px;
  }
  }
  @media(min-width: 768px) and (max-width: 991px){
    
    
  }
  @media(max-width:767px) {
    .stepbox{
        background-image: url(https://media3.giphy.com/media/BHNfhgU63qrks/200.webp?cid=ecf05e47g2cws6kdfq45w25eq1q5zb5xg4d1uf03bvjm0727&rid=200.webp);
        
    }
    .stepsa:after {
        content: "";
        display: table;
        clear: both;
      } 
     /* .stepsa{
         position:relative;
         animation: example 1s infinite; 
        
    } 
     @keyframes example {
        0% { left:0px; top:0px;}
        50% { left:6px; top:0px;}
        
      }  */
      
     .b1{
        float: left;
    } 
    .scan{
        padding: 4px;
        width: 100px;
    }
    .step1{
        font-size: 30px;
        margin-left: 6px;
        margin-top: 60px;
        color: aquamarine;
    }
    .stepsb:after {
        content: "";
        display: table;
        clear: both;
      } 
     /* .stepsb{
         position:relative; 
         animation: ani 2s infinite; 
    } 
     @keyframes ani {
        50% { left:0px; top:0px;}
        0% { left:6px; top:0px;}
        
      }  */
      
     .b3{
        float: left;
    } 
    .scan2{
        padding: 4px;
        width: 100px;
    }
    
    .step2{
         padding-left: 150px; 
        font-size: 20px;
        color: aquamarine;
        font-size:30px;
        margin-top:30px;
    }
    .info:after {
      content: "";
      display: table;
      clear: both;
    } 
    .info{
      /* height:260px; */
      background-color:rgb(44, 3, 3);
      }
     
 .info1{float:left;}
 .inftxt1{
  width: 20%;
  
  
}
    .inftxt2{
      width: 60%;
      color: white;
      font-size: 20px;
      margin-left:35px;
     }
  #infimg{
    width:90px;
    margin-left:6px;
    margin-top: 10px;
  }
    
  }


@media(min-width: 992px) {
  .rowp:after {
      content: "";
      display: table;
      clear: both;
    }
  .rowp{
      background-color: cadetblue;
  }
  .colp{
      float: left;
  }
  .colq{
      width: 30%;
      height: 380px;
      margin: 5px;
      margin-left:20px;
      /* background-color: rgb(88, 20, 106); */
      background-color: aliceblue;
      border: 2px solid red;
      padding: 10px;
      border-radius: 25px;
  }
  .dish1{
      width: 450px;
      height: 300px;
      margin:0px;
      border-radius: 25px;
  }
  .dishname1{
      text-align: center;
      background-color: aliceblue;
      padding: 2px;
      margin-bottom: 2px;
      border-radius: 15px;
      margin-bottom:1px;
  }
  #flink{
    text-decoration: none;
  }
  .colr{
      width: 30%;
      height: 380px;
      margin: 5px;
      margin-left:10px;
      background-color: aliceblue;
      border: 2px solid red;
      padding: 10px;
      border-radius: 25px;
  }
  .cols{
      width:30%;
      height: 380px;
      margin: 5px;
      margin-left:10px;
      background-color: aliceblue;
      border: 2px solid red;
      padding: 10px;
      border-radius: 25px;
  }
}
@media(min-width: 768px) and (max-width: 991px){
  
  
}
@media(max-width:767px) {
  .rowp:after {
      content: "";
      display: table;
      clear: both;
    }
  .rowp{
      background-color: cadetblue;
      margin-bottom: 0px;
  }
   .colp{
      float: left;
  } 
 
  #flink{
    text-decoration: none;
  } 
  .colq{
    width: 25%;
    height: 100px;
     margin: 2px; 
     margin-left: 5px;
    /* margin-left:20px; */
    /* background-color: rgb(88, 20, 106); */
    background-color: aliceblue;
    border: 2px solid red;
    padding: 10px;
    /* border-radius: 25px; */
}
.dish1{
    width: 90px;
    height: 70px;
    margin:0px;
    /* border-radius: 15px; */
}
.dishname1{
     text-align: center;
    background-color: aliceblue;
    /* padding: 2px; */
    /* margin-bottom: 2px; */
    font-size:6px;
    border-radius: 15px;
    margin-bottom:3px;
    color: rgb(10, 70, 70);
   
}
.colr{
  width: 25%;
  height: 100px;
     margin: 2px; 
    /* margin-left:20px; */
    /* background-color: rgb(88, 20, 106); */
    background-color: aliceblue;
    border: 2px solid red;
    padding: 10px;
    /* border-radius: 25px; */
}
.cols{
  width: 25%;
  height: 100px;
    margin: 2px;
    /* margin-left:20px; */
    /* background-color: rgb(88, 20, 106); */
    background-color: aliceblue;  
    border: 2px solid red;
    padding: 10px;
    /* border-radius: 25px; */
} 
}

  @media(min-width: 992px) {
    .cntfrm{
      margin-top: 30px;
    }
    #hcn{
      font-size:50px;
      text-align: center;
      color: rgb(235, 167, 43);
    }
    #gr{
      text-align: center;
      font-size: 20px;
    }
    .cnbox{
      margin: 60px;
    }
    #name{
      width: 500px;
      height: 50px;
      margin-top: 20px;
      margin-left: 200px;
      font-size: large;
      display: inline-block;
    }
    #email{
      width: 500px;
      height: 50px;
      margin-top: 20px;
      margin-left: 32px;
      font-size: large;
    }
    #message{
      width: 1050px;
      height: 100px;
      margin: 20px;
      margin-left: 200px;
      font-size: large;
      
    }
  #clk{
    width:150px;
    height:70px;
    margin-left: 600px;
    font-size:20px;
    background-color:rgb(235, 167, 43);
  }
    .foot{
        background-color: rgb(44, 3, 3);
        color: aliceblue;
        height: 500px;
        margin-top: 100px;
    }
    .f{
        float: left;
    }
    .f1{
        width: 100%;
       margin: 20px;
        margin-top: 40px;
        text-align: center;
    }
    
    .f3{
        width: 100%;
        
        margin-top: 40px;
        text-align: center;
    }
    #footimg{
      width: 40px;
    }
    
  }
  @media(min-width: 768px) and (max-width: 991px){
    
    
  }
  @media(max-width:767px) {
    .cntfrm{
      display: none;
    }
    .foot{
        background-color:rgb(44, 3, 3);
        color: aliceblue;
        height: 400px;
        width: fit-content;
        margin-top: 0px;
    }
    .f1{
        width: 100%;
       margin: 2px;
        margin-top: 0px;
        text-align: center;
    }
    .f3{
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }
   #footimg{
       width: 50px;
   } 
    
  }
